<div class="flex justify-between items-center">
  <a href="{{ get_url(path='/') }}"
     class="no-underline text-current hover:bg-transparent">
    {{ config.title }}
  </a>

  {% if config.extra.menu %}
  <nav>
    <ul class="flex space-x-4">
      {% for item in config.extra.menu %}
        <li>
          <a href="{{ get_url(path=item.url) }}"
             class="no-underline text-current hover:bg-transparent">
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
