<!doctype html>
<html lang="{{ lang | default(value=config.default_language) }}">
  <head>
    {% include "partials/head.html" %}
  </head>
  <body>
    <header class="bg-operandi-white-dim dark:bg-vivendi-black-dim">
      <div class="mx-auto max-w-4xl px-4 py-2">
        {% include "partials/header.html" %}
      </div>
    </header>

    <main class="my-10">
      <div class="mx-auto max-w-4xl px-4">
        {% block content %}
        {% endblock %}
      </div>
    </main>

    <footer>
      <div class="mx-auto max-w-4xl p-4">
        {% include "partials/footer.html" %}
      </div>
    </footer>
  </body>
</html>
